body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    background-image: url("Fotos/website\ ahctergrond.jpg");
}
.container {
    width: 1903px;
    margin-bottom: 50;
    min-height: 0px;
    color: white;    
    background-color: #ffffffee;
    color: black;
}
#LAM {
    margin: 0;
    padding: 0;
    font-size: 100px;
    margin-left: 20px;
    text-shadow: 2px 2px 4px #000000;
}
#Welkom {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    text-shadow: 2px 2px 4px #000000;
}
.navigatie {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffffee;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: burlywood;
}
th, td {
    padding-inline: 90px;
  }
.Quiz {
    background-color: #ffffffee;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
}
#Quiz {
    text-align: center;
    padding-top: 400px;
    padding-bottom: 400px;
}
.Info {
    background-color: #ffffffee;
    float: left;
    width: 650px;
    margin-left: 300px;
}
#LAMINFOT {
    padding-left: 15px;
    padding-top: 5px;
    margin-bottom: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 1px 1px 2px #000000;
}
#LAMINFO {
    padding-left: 15px;
    padding-bottom: 15px;
    margin-top: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 1px 1px 2px #000000;
    font-size: smaller;
    padding-right: 15px;
}
.Film {
    float: right;
    margin-right: 300px;
}
.Review {
    background-color: #ffffffee;
    margin-top: 700px;
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 5px;
    padding-left: 15px;
    text-shadow: 1px 1px 2px #000000;
}